body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}

header h1 {
    margin: 0;
}

footer {
    font-size: 14px;
}
nav {
    background-color: #000;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px 0;
}

nav a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
    
}

nav a:hover {
    color: hsl(189, 100%, 64%);
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: hsl(189, 100%, 64%);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-out;
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}



main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    padding: 20px;
}

.temple-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.temple-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
}

.temple-card div {
    padding: 10px;
}

.temple-card h3 {
    margin: 0;
    font-size: 1.2em;
}
.res-grid section {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.res-grid section img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
}

.res-grid section h3 {
    margin: 0;
    font-size: 1.2em;
}

.res-grid section p {
    margin: 5px 0;
}

/* Responsive Navigation */
.hamburger {
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none; /* Só aparece em telas menores */
}

.hamburger-icon {
    display: inline; /* Mostra o ícone de hambúrguer */
}

.close-icon {
    display: none; /* Esconde o "X" por padrão */
    font-size: 30px;
    color: white;
}

/* Exibe o ícone do "X" e esconde o hambúrguer quando o menu está aberto */
.hamburger.open .hamburger-icon {
    display: none;
}

.hamburger.open .close-icon {
    display: inline; /* Mostra o "X" */
}

footer p {
    margin: 0;
    line-height: 1.5;
}

